<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Courier Service, <%= @receiver.name %></h1>
    <p>
      A Parcel ID : <%= @parcel.unique_no %> 
      Your Parcel status is : <%= @parcel.status %>
    </p>
    <p>Thanks and have a great day!</p>
  </body>
</html>